html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #DDD;
}

.calculator {
  width: 275px;
  height: 400px;
  margin-top: 100px;
}

.calculator__main-row, .calculator__alt-row {
  display: flex;
}

.calculator__main-row {
  position: relative;
}

input[type="text"] {
  width: 100%;
  height: 50px;
  text-align: right;
  letter-spacing: 2px;
  background-color: #FFFFFF;
  border: 0px;
  border-radius: 4px;
  padding: 0px 15px 50px 0px;
  margin: 3px 0px 0px;
  transition: all .25s;
}

input[type="text"]:focus {
  outline: none;
}
input[type="text"]:focus {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.75);
}

input[type="button"]:not(.btn-clear-numbers, .btn-clear) {
  width: 25%;
  height: 60px;
  background-color: #FFFFFF;
  border: 0px;
  border-radius: 4px;
  transition: all .2s;
}

input[type="button"]:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.75);
}
input[type="button"]:active {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
}

.calculator__alt-row input[type="button"] {
  margin: 3px 3px 0px 0px;
}

.calculator__main-row input[type="button"]:not(.btn-clear-numbers, .btn-clear) {
  margin: 3px 3px 0px 3px;
}

.btn-clear, .btn-clear-numbers {
  position: absolute;
  bottom: 10px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  margin: auto;
}

.btn-clear {
  right: 10px;
}

.btn-clear-numbers {
  right: 40px;
}