html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #DDD;
}

.calculator {
  width: 275px;
  height: 423px;
  margin-top: 100px;
  background-image: linear-gradient(to bottom, #323232 25%, #676767);
}

.calculator__main-row, .calculator__alt-row {
  display: flex;
}

.calculator__main-row {
  position: relative;
}

.calculator__alt-row {
  position: relative;
  display: flex;
  justify-content: space-between;
}

input[type="text"] {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 20px;
  width: 100%;
  height: 50px;
  text-align: right;
  letter-spacing: 2px;
  background-color: transparent;
  border: 0px;
  border-radius: 4px;
  color: #DCDCDC;
  padding: 0px 15px 50px 0px;
  margin: 3px 0px 0px;
  transition: all .25s;
}

input[type="text"]:focus {
  outline: none;
}
input[type="text"]:focus {
  cursor: pointer;
  /* background-color: rgba(255, 255, 255, 0.75); */
}

input[type="button"]:not(input[value=""]) {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #DCDCDC;
  width: 24%;
  height: 60px;
  background-color: transparent;
  border: 0px;
  transition: all .2s;
}

input[value=""] {
  width: 25%;
  height: 60px;
  background-color: transparent;
  border: 0px;
}

input[type="button"]:not(input[value=""]):hover {
  cursor: pointer;
  color: #444444;
  background-color: #DCDCDC;
}

input[type="button"]:not(input[value=""]):active {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
}

input.equal-math-operation {
  height: 188px !important;
  position: absolute;
  bottom: 0;
  right: 0;
}

.calculator__alt-row input[type="button"] {
  margin: 4px 0px 0px;
}

.calculator__main-row input[type="button"] {
  margin: 3px 3px 0px 3px;
}



/* .btn-clear {
  right: 10px;
}

.btn-cancel-entry {
  right: 40px;
} */